In [3]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

data = pd.read_csv('data_balita.csv')
# ตัวอย่างการลบคอลัมน์ที่ไม่จำเป็น
data = data.drop(['Jenis Kelamin', 'Tinggi Badan (cm)'], axis=1)

X = data.drop('Status Gizi', axis=1)  # Features
y = data['Status Gizi']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

RF_clf = RandomForestClassifier()
RF_clf.fit(X_train, y_train)

y_pred = RF_clf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy * 100)

Accuracy: 55.59779614325069

In [4]:
data

        Umur (bulan)       Status Gizi
0                  0           stunted
1                  0            tinggi
2                  0            normal
3                  0            normal
4                  0  severely stunted
...              ...               ...
120994            60            normal
120995            60           stunted
120996            60            normal
120997            60            normal
120998            60            normal

[120999 rows x 2 columns]

In [5]:
y_pred

array(['normal', 'normal', 'normal', ..., 'normal', 'normal', 'normal'],
      dtype=object)